body{
    background-image: url('vintage\ texture.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    color: black;
}

h1{
    font-weight: bold;
    font-size: 30pt;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    text-align: center;
    text-decoration: underline;
    }

P{
    font-size: 14pt;
    text-align: center;
}

h2{
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h3{
    font-size: 16pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}